<div class="page-header" id="user-show"><h1><%= @user.name %>'s Profile
  <small>What do you need to do today?</small>
  </h1>
</div>

<div id="container">
  <div class="jumbotron" id="jumbo">
    <div id="jumbo-content">
      <h1>Your Details</h1>
      <ul>
        <li><%= @user.name %></li>
        <li><%= @user.email %></li>
      </ul>
    </div>
  </div>
</div>
