<div class="container" id="welcome-header">
  <h1>Welcome to Blocitoff<small>&nbsp;The Place to Master the Things You Have to Do!</small></h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag (image_path('todo.gif')) %>
    </div>
  </div>
</div>
