/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);

body {
    background-color: #7A1F5C;
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-weight: 900;
    color: #000000;
}

#landing {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#welcome-header {
  margin-left: auto;
  margin-right: auto;
}

#user-name{
  position: absolute;
  text-align: center;
}

.jumbotron {
  border: 0 10px 10px 0, #000000;
  background: #310C25;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#jumbo-content > h1{
  color: #B8B8B8;
  text-align: center;
} li {
  text-align: center;
  color: #B1B1B1;
}

#task-desc {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

#task-list{
  margin-left: auto;
  margin-right: auto;
}

#task-label {
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: underline;
  margin-left: 98px;
}

#submit-task {
  margin-left: 98px;
}

#content {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}


.btn-custom {
  background-color: hsl(278, 75%, 21%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a336e2", endColorstr="#400d5d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a336e2), to(#400d5d));
  background-image: -moz-linear-gradient(top, #a336e2, #400d5d);
  background-image: -ms-linear-gradient(top, #a336e2, #400d5d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a336e2), color-stop(100%, #400d5d));
  background-image: -webkit-linear-gradient(top, #a336e2, #400d5d);
  background-image: -o-linear-gradient(top, #a336e2, #400d5d);
  background-image: linear-gradient(#a336e2, #400d5d);
  border-color: #400d5d #400d5d hsl(278, 75%, 12.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}
